/**
Navbar css
*/

nav {
    background-color: #2c3e50;
    color: #fff;
    padding: 0 20px;
}

nav .brand-logo {
    color: #fff;
}

nav ul a {
    color: #fff;
}



/**
footer css
*/

.page-footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
}

.page-footer .footer-copyright {
    color: #2980b9;
    padding: 0 10px;
}



/**
base page
*/

.main-container {
}



/**
landing page
*/

#intro-section {
    background-color: #fff;
    height: calc(100vh - 64px);
    .intro-wrapper {
    	position: relative;
    	height: inherit;
    	width: 100%;
    	.intro-text {
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		transform: translate(-50%, -50%);
    		text-align: center;
    		h1{
    			font-size: 60px;
    		}
    		p {
    			font-size: 26px;
    		}
    	}
    }
}

/**
login page
*/
#form-container {
    padding: 60px;
    .form_warn_msg {
        font-size: 12px;
        color: #7D2727;
    }
    .error-messages {
        p {
            font-size: 14px;
            color: #7D2727;
        }
    }
}

